/*variables de colores*/
:root{
	--color-primary: #2b2e4a;
	--color-primary-o: #2a2c3d;
	--color-primary-xo: #252630;
	--color-primary-l: #3b3f61;
	--color-primary-xl: #4b4e6a;

	--color-secundary: #e84545;
	--color-secundary-o: #e13232;
	--color-secundary-xo: #c53030;
	--color-secundary-l: #f36c6c;
	--color-secundary-xl: #f28f8f;

	--color-text: #1d201a;
	--color-text-l: #9da398;
	--color-text-xl: #c4c9bf;

}

/*etiquetas de colores*/
.color-secondary{
	color: var(--color-secundary-l)
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-primary-xo)
}

/*nav*/
.nav{
	background-color: var(--color-primary);
	display: flex;
	padding: 0.5em 0
}
.nav_logo{
	width: 70px;
	height: 70px;
	margin-left: 10px;
	display: none
}
.nav_list{
	display: flex;
	padding: 0;
	margin-right: auto;
	margin-left: auto

}
.nav_item{
	margin: 0 0.3em;
	list-style: none;
	font-size: 12px
}
.nav_item a{
	padding: 1em; 
	text-decoration: none;
	border: 2.0px solid var(--color-secundary-xl);
	border-radius: 15px;
	color: var(--color-text-xl);
	transition: 0.5s;
	font-weight: bold;
}
.nav_item a:hover{
	background-color: var(--color-secundary-xl);
	transition: 0.5s;
	border-radius: 15px;
	color: var(--color-text);
}

/*header*/
.header{
	background-color: var(--color-secundary-l);
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	grid-column-gap: 2em;
	padding: 5em
}
.header_logo{
	width: 90px;
	height: 90px;
	object-fit: cover;
	align-items: center;
	display: block;
	margin: 0 auto;
	margin-top: -2em;
}
.header_title{
	color: var(--color-text);
	text-align: center;
	border-bottom: 1px solid var(--color-primary)
}
.header_text{
	text-align: center;
	margin: -0.8em auto;
	font-size: 17px
}
.header_link{
	text-decoration: none;
	color: var(--color-primary);
	font-size: 1.2em;
	border-bottom: 1px solid var(--color-primary);
	text-align: center;
	position: relative;
	top: 100%;
}

/*container*/
.container{
	color: var(--color-text-xl);
	margin: 2em 1em
}

/*about*/
.about{
	border-bottom: 2px dashed var(--color-secundary-xl)
}
.about_icon{
	font-size: 1.3em
}

/*aptitudes*/
.aptitudes_container{
	border-bottom: 2px dashed var(--color-secundary-xl);
}
.aptitudes{
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 0.5em;
	justify-content: center;
}
.aptitudes_title{
	text-align: center;
	grid-column-start: 1;
  	grid-column-end: 3;
}
.aptitudes_icon{
	font-size: 5em;
}
.aptitudes_card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align:center;
	margin: 1em auto;
	padding: 3em;
	min-width: 3em;
	max-width: 3em;
	min-height: 3em;
	max-height: 3em;
	background-color: var(--color-primary-xl);
	border-radius: 10px
}
.punta-punta3{
	grid-column-start: 1;
  	grid-column-end: 3;
}
.punta-punta4{
	grid-column-start: 1;
	grid-column-end: 4
}
/*Proyectos*/
.projects{
	border-bottom: 2px dashed var(--color-secundary-xl);
	display: flex;
	flex-direction: column;
	grid-column-gap: 0.5em;
	justify-content: center;
}
.project_card{
	/*display: flex;
	flex-direction: column;*/
	/*justify-content: center;
	align-content: center;
	align-items: center;
	text-align:center;*/
	margin: 1em auto;
	min-width: 18em;
	max-width: 18em;
	min-height: 24em;
	background-color: var(--color-primary-xl);
	border-radius: 10px
}
.project_img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.project_content{
	margin: 0 1em;
	text-align: center;
}
.project_text{
	margin-bottom: 2em;
}
.project_btn{
	background-color: var(--color-secundary-l);
	color: var(--color-primary-xo);
	text-decoration: none;
	padding: 0.7em;
	border-radius: 5px;
	margin: 0 0.1em;
	transition:1s;
}
.project_btn:hover{
	background-color: var(--color-secundary-xl);
	transition:1s;
}
.btn_borde{
	background-color: transparent;
	border: 2px solid var(--color-secundary-l);
	color: var(--color-secundary-l)
}
.btn_borde:hover{
	background-color: transparent;
	border: 2px solid var(--color-secundary-l);
	color: var(--color-secundary-l)
}

/*contact*/
.contact{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-row-gap: 1em;
	margin: 1em auto;
	justify-content: center;
}
.contact a{
	text-decoration: none;
	background-color: var(--color-primary-l);
	margin: 0 10px;
	padding: 0.5em 1em;
	border-radius: 10px;
	min-width: 90px;
	max-width: 90px;
	transition:1s;
}
.contact a:hover{
	background-color: var(--color-primary-xl);
	transition:1s;
}
.contact_content{
	text-align: center;
	color: var(--color-text-xl)
}
.contact_icon{
	font-size: 50px;
	color: var(--color-secundary-l);
}
.contact_text{
	font-size: 20px;
	font-weight: bold;
	margin-top: 7px
}

/*footer*/
.footer{
	text-align: center;
	align-items: center;
	background-color: var(--color-primary);
	position: absolute;
	bottom: 0;
	z-index: 3;
	left: 0;
	width: 100%;
	height: 50px;
	margin: 1em 0
}

@media screen and (min-width: 600px){
	.aptitudes_container{
		padding-top: 3em;
		padding-bottom: 3em
	}
	.header{
		padding-top: 8em;
		padding-bottom: 8em
	}
	.container{
		margin-left: 1.5em;
		margin-right: 1.5em
	}

	.nav_list{
		align-self: center;
		margin-right: 1em
	}
	.nav_logo{
		display: initial;
	}
	.nav_item a{
		min-width: 4em;
		max-width: 4em
	}

	.about{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 3em;
		align-items: center;
		padding-bottom: 3em 
	}
	.about_title_flex{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 2em;
		font-size: 2em;
	}
	.about p{
		margin-right: 2em;
		font-size: 18px
	}
	.about_icon_flex{
		font-size: 4em
	}

	.aptitudes{
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}
	.aptitudes_title{
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.punta-punta3{
		grid-column-start: initial;
		grid-column-end: initial; 
	}

	.projects{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		padding-bottom: 3em;
		margin-bottom: 3em;
	}
	.project_card{
		margin: 1em
	}

	.contact{
	padding: 2em;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
	grid-row-gap: auto;
	margin: 1em auto;
	justify-content: center;
}
}

@media screen and (min-width: 1000px) {
	.nav_logo{
		margin-left: 2em
	}
	.nav_list{
		margin-right: 2em
	}
	.nav_item a{
		font-size: 16px
	}
	.aptitudes_container{
		display: grid;
		grid-template-columns: auto auto
	}
	.header{
		padding-top: 11em;
		padding-bottom: 11em
	}

	.about p{
		width: 600px;
		margin-right: auto;
	}
	.about_title_flex{
		margin-left: auto
	}
}